@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.strengths__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contacts__item--tel, .contacts__item--mail, .navigate__link--active, .logo {
  text-decoration: none;
  cursor: pointer;
}

/*Настройки скрытого класса*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: inline-block;
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header__logo--web {
  color: #2196F3;
}

.header__studio {
  position: relative;
}

.header__container {
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

.navigate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 80px;
}

.menu-btn {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  border: none;
  border-color: transparent;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn .icon-close {
  display: none;
}

.menu-btn.is-open .icon-close {
  display: block;
}

.menu-btn.is-open .icon-menu {
  display: none;
}

.menu-container {
  background: #ffffff;
}
.menu-container.is-open {
  display: block;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 480px;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.navigate__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .navigate__list {
    display: flex;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
  }
}

.navigate__item + .navigate__item {
  margin-left: 50px;
}

@media screen and (min-width: 768px) {
  .navigate__link {
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.navigate__link:hover, .navigate__link:focus {
  color: #2196F3;
}

/*Активная вкладка*/
.navigate__link--active {
  position: relative;
  color: #2196F3;
}
.navigate__link--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
}

/*E-mail и телефон*/
.contacts {
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    flex-direction: column;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 30px;
  }
}
.contacts__item:first-child {
  margin-left: 0;
  margin-top: 0;
}

.contacts__item--tel, .contacts__item--mail {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item--mail:hover, .contacts__item--mail:focus {
  color: #2196F3;
}

.contacts__item--tel:hover, .contacts__item--tel:focus {
  color: #2196F3;
}

.contacts__item--icon {
  fill: currentColor;
}
.contacts__item--icon:hover, .contacts__item--icon:focus {
  fill: #2196F3;
}

.order {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img-order.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
@media screen and (max-width: 1200) and (min-width: 1600px) {
  .order {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 1200) and (min-width: 1600px) {
  .container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

.order__head {
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .order__head {
    width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .order__head {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.order__btn {
  align-items: center;
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  color: #ffffff;
  background-color: #2196F3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order__btn:hover, .order__btn:focus {
  background-color: #1b65a2;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200) {
  .container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

.strengths__header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.88;
  text-transform: uppercase;
  margin-top: 30px;
}

.strengths__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.strengths__item:nth-child(4n) {
  margin-right: 0;
}

.strengths__title {
  color: #757575;
  line-height: 1.71;
}

.strengths__icon--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
}

.strengths__icon {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.occupation {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .occupation {
    display: none;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.occupation__header {
  margin-bottom: 50px;
  text-align: center;
}

.occupation__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.occupation__item {
  position: relative;
  width: 370px;
  margin-right: 30px;
}
.occupation__item:nth-child(3n) {
  margin-right: 0;
}

.occupation__descr {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 94px 15px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 208px 159px;
  }
}
@media screen and (min-width: 1600px) {
  .backdrop {
    padding: 208px 159px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1600px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__icon--close {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon--close:hover, .modal__icon--close:focus {
  fill: #2196F3;
}

.modal__header {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.form__field:last-child, .form__field:first-child {
  margin-top: 0;
}
.form__field:focus-within .form__input {
  outline: none;
  border: 1px solid #2196F3;
  border-radius: 4px;
}
.form__field:focus-within .form__icon {
  fill: #2196F3;
}

.form__lable {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  margin-top: 4px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
  resize: none;
  width: 370px;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1600px) {
  .form__textarea {
    width: 448px;
  }
}

.form__field--checkbox {
  display: inline-block;
  margin-left: 13px;
  align-items: center;
  margin-top: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  white-space: nowrap;
}
.form__field--checkbox::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  background-image: url(../images/icon_check.svg);
}
.form__checkbox:checked + .form__field--checkbox::before {
  background-image: url(../images/icon_check.svg);
}

.form__link {
  color: #2196F3;
  margin-left: 5px;
}

.form__btn--submit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 55px;
  color: #ffffff;
  background-color: #2196F3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn--submit:hover, .form__btn--submit:focus {
  background-color: #1b65a2;
}/*# sourceMappingURL=main.css.map */