@charset "UTF-8";
.example__list, .page-navigate__list, .socials__list, .address__list, .clients__list, .networks__list, .team__list, .strengths__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.example__link, .socials__link, .address__link--locate, .address__link--mail,
.address__link--tel, .clients__link, .networks__link, .contacts__item--tel, .contacts__item--mail, .navigate__link--active, .logo {
  text-decoration: none;
  cursor: pointer;
}

body {
  background-color: #fff;
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/*Настройки скрытого класса*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: inline-block;
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.header__logo--web {
  color: #2196F3;
}

.header__studio {
  position: relative;
}

.navigate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 80px;
}

.menu-btn {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  border: none;
  border-color: transparent;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn .icon-close {
  display: none;
}

.menu-btn.is-open .icon-close {
  display: block;
  position: absolute;
}

.menu-btn.is-open .icon-menu {
  display: none;
}

.menu-container {
  background: #ffffff;
}
.menu-container.is-open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.navigate__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .navigate__list {
    display: flex;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
  }
}

.navigate__item + .navigate__item {
  margin-left: 50px;
}
@media screen and (max-width: 767px) {
  .navigate__item {
    margin-left: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navigate__link {
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (max-width: 767px) {
  .navigate__link {
    font-size: 40px;
    line-height: 1.18;
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #212121;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.navigate__link:hover, .navigate__link:focus {
  color: #2196F3;
}

/*Активная вкладка*/
.navigate__link--active {
  position: relative;
  color: #2196F3;
}
.navigate__link--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
}

/*E-mail и телефон*/
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    flex-direction: column;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 30px;
  }
}
.contacts__item:first-child {
  margin-left: 0;
  margin-top: 0;
}

.contacts__item--tel, .contacts__item--mail {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item--mail:hover, .contacts__item--mail:focus {
  color: #2196F3;
}

.contacts__item--tel:hover, .contacts__item--tel:focus {
  color: #2196F3;
}

.contacts__item--icon {
  fill: currentColor;
  margin-right: 10px;
}
.contacts__item--icon:hover, .contacts__item--icon:focus {
  fill: #2196F3;
}
@media screen and (max-width: 767px) {
  .contacts__item--icon {
    display: none;
  }
}

.order {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
@media screen and (max-width: 767px) {
  .order {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order-bg-mob.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .order .order {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order-bg-mob@2x.jpg);
  }
}
@media screen and (max-width: 1199px) {
  .order {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order-bg-tablet.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .order .order {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order-bg-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .order {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order-bg-desktop.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .order .order {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order-bg-desktop@2x.jpg);
  }
}

.order__head {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 400px) and (max-width: 1199px) {
  .order__head {
    width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .order__head {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.order__btn {
  align-items: center;
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  color: #ffffff;
  background-color: #2196F3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order__btn:hover, .order__btn:focus {
  background-color: #1b65a2;
}

.strengths__header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.88;
  text-transform: uppercase;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .strengths__header {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .strengths__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .strengths__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .strengths__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.strengths__title {
  color: #757575;
  line-height: 1.71;
}

.strengths__icon--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #F5F4FA;
}

.strengths__icon {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.occupation {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .occupation {
    display: none;
  }
}

.occupation__header {
  margin-bottom: 50px;
  text-align: center;
}

.occupation__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.occupation__item {
  position: relative;
  width: 370px;
  margin-right: 30px;
}
.occupation__item:nth-child(3n) {
  margin-right: 0;
}

.occupation__descr {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.team {
  background-color: #F5F4FA;
}

.container {
  align-items: center;
}

.team__header {
  margin-bottom: 50px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.team__img {
  margin-left: auto;
  margin-right: auto;
}

.team__meta {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__meta--name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__meta--profession {
  margin-top: 10px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/*Соц сети команды*/
.networks__list {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.networks__item + .networks__item {
  margin-left: 10px;
}

.networks__link {
  display: flex;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link:hover, .networks__link:focus {
  color: #ffffff;
  background-color: #2196F3;
}

.networks__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients__header {
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (max-width: 479px) {
  .clients__header {
    margin-bottom: 0;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
@media screen and (max-width: 479px) {
  .clients__list {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  border-color: #2196F3;
}
@media screen and (max-width: 420px) {
  .clients__link {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

@media screen and (min-width: 420px) {
  .clients__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
    margin: 15px;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 1199px) {
  footer {
    position: relative;
    height: auto;
    text-align: center;
  }
}

.footer__container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer__network {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__network {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer__contacts {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.footer__contacts--logo {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__logo--web {
  color: #2196F3;
}

/*Контакты*/
.address__link--locate, .address__link--mail,
.address__link--tel {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link--locate:hover, .address__link--mail:hover,
.address__link--tel:hover, .address__link--locate:focus, .address__link--mail:focus,
.address__link--tel:focus {
  color: #2196F3;
}

.address__link--mail:hover, .address__link--mail:focus,
.address__link--tel:hover,
.address__link--tel:focus {
  color: #2196F3;
}

.address__link--locate {
  color: #ffffff;
  line-height: 1.71;
}
.address__link--locate:hover, .address__link--locate:focus {
  color: #2196F3;
}

.address__item + .address__item {
  margin-top: 8px;
}

/*Соц сети footer*/
@media screen and (max-width: 767px) {
  .socials {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.socials__header {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .socials__list {
    display: flex;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .socials__list {
    display: flex;
    margin-top: 20px;
  }
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.socials__link {
  display: flex;
  width: 44px;
  height: 44px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196F3;
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*Подписаться footer*/
.subscribe {
  margin-left: auto;
}

.subscribe__header {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
  }
}

.subscribe__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 767px) {
  .subscribe__input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe__btn {
  position: relative;
  display: inline-block;
  padding: 10px 62px 10px 28px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196F3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background-color: #1b65a2;
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    margin-left: 12px;
  }
}

.subscribe__icon {
  position: absolute;
  top: 13px;
  right: 32px;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 94px 15px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 208px 159px;
  }
}
@media screen and (min-width: 1600px) {
  .backdrop {
    padding: 208px 159px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1600px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
@media screen and (max-width: 450px) {
  .modal {
    width: 400px;
  }
}

.modal__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__icon--close {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon--close:hover, .modal__icon--close:focus {
  fill: #2196F3;
}

.modal__header {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.form__field:last-child, .form__field:first-child {
  margin-top: 0;
}
.form__field:focus-within .form__input {
  outline: none;
  border: 1px solid #2196F3;
  border-radius: 4px;
}
.form__field:focus-within .form__icon {
  fill: #2196F3;
}

.form__lable {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  margin-top: 4px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
  resize: none;
  width: 370px;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (max-width: 450px) {
  .form__textarea {
    width: 320px;
  }
}
@media screen and (min-width: 1600px) {
  .form__textarea {
    width: 448px;
  }
}

.form__field--checkbox {
  display: inline-block;
  margin-left: 13px;
  align-items: center;
  margin-top: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  white-space: nowrap;
}
.form__field--checkbox::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  background-image: url(../images/icon_check.svg);
}
.form__checkbox:checked + .form__field--checkbox::before {
  background-image: url(../images/icon_check.svg);
}

.form__link {
  color: #2196F3;
  margin-left: 5px;
}

.form__btn--submit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 55px;
  color: #ffffff;
  background-color: #2196F3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn--submit:hover, .form__btn--submit:focus {
  background-color: #1b65a2;
}

.header__portfolio {
  position: relative;
  align-items: baseline;
  border-bottom: 1px solid #ECECEC;
}

.navigate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 80px;
}
@media screen and (min-width: 1200px) {
  .navigate {
    justify-content: flex-start;
  }
}

.menu-btn {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  border: none;
  border-color: transparent;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn .icon-close {
  display: none;
}

.menu-btn.is-open .icon-close {
  display: block;
}

.menu-btn.is-open .icon-menu {
  display: none;
}

.menu-container {
  background: #ffffff;
}
.menu-container.is-open {
  display: block;
  position: fixed;
  top: 48px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.navigate__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .navigate__list {
    display: flex;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .navigate__list {
    justify-content: flex-start;
    margin: 0;
  }
}

.navigate__item + .navigate__item {
  margin-left: 50px;
}

@media screen and (min-width: 768px) {
  .navigate__link {
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.navigate__link:hover, .navigate__link:focus {
  color: #2196F3;
}

/*Активная вкладка*/
.navigate__link--active {
  position: relative;
  color: #2196F3;
}
.navigate__link--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
}

/*E-mail и телефон*/
.contacts {
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    flex-direction: column;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 30px;
  }
}
.contacts__item:first-child {
  margin-left: 0;
  margin-top: 0;
}

.contacts__item--mail, .contacts__item--tel {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item--mail:hover, .contacts__item--mail:focus {
  color: #2196F3;
}

.contacts__item--tel:hover, .contacts__item--tel:focus {
  color: #2196F3;
}

.contacts__item--icon {
  fill: currentColor;
  margin-right: 10px;
}
.contacts__item--icon:hover, .contacts__item--icon:focus {
  fill: #2196F3;
}

@media screen and (max-width: 1199px) {
  section {
    padding-top: 60px;
  }
}

.page-navigate__list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .page-navigate__list {
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 40px;
    gap: 15px 8px;
  }
}

.page-navigate__item + .page-navigate__item {
  margin-left: 8px;
}
@media screen and (max-width: 767px) {
  .page-navigate__item + .page-navigate__item {
    margin: 0;
  }
}

.page-navigate__btn {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #212121;
  background: #F5F4FA;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border-style: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-navigate__btn:hover, .page-navigate__btn:focus {
  color: #ffffff;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .example__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.example__item {
  width: 100%;
}
.example__item:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .example__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .example__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .example__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .example__img {
    width: 100%;
  }
}

.example__thumb {
  position: relative;
  overflow: hidden;
}

.example__link {
  display: block;
  color: #212121;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example__link:hover, .example__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.example__link:hover .example__descr--hover, .example__link:focus .example__descr--hover {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .example__link {
    display: flex;
    flex-direction: column;
  }
}

.example__descr--hover {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 18px;
  line-height: 1.56em;
  padding: 63px 24px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .example__img {
    margin-left: auto;
    margin-right: auto;
  }
}

.example__meta {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .example__meta {
    flex-grow: 1;
  }
}

.example__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example__title {
  margin-top: 4px;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */