 body {
     background-color: #fff;
     color: var(--main-text-color);

     font-family: 'Roboto', sans-serif;
     font-size: 14px;
     letter-spacing: 0.03em;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     margin: 0;
 }

 h2 {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.17;
 }


 section {
     padding-top: 94px;
     padding-bottom: 94px;
 }

 .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
            width: 480px;
        }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

     @media screen and (min-width: 1200px) {
         width: 1200px;
     }
 }

 img {
     display: block;
     max-width: 100%;
     height: auto;
 }

 address {
     font-style: normal;
 }
 
 /*Настройки скрытого класса*/
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0px;
     padding: 0px;
     white-space: nowrap;
     clip-path: insert(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }