 $main-text-color: #212121;
 $second-text-color: #757575;
 $main-bg-color: #ffffff;
 $active-link-hover-color: #2196F3;
 $footer-contacts-color: #FFFFFF99;
 $bg-color-section-black: #2F303A;
 $bg-color-section-white: #F5F4FA;
 $bg-button-color: #2196F3;
 $bg-buton-hover-color: #1b65a2;
 $button-border-color: transparent;
 $border-example-color: #EEEEEE;
 $border-header-color: #ECECEC;
 $border-order-color: #000000;
 $clients-color: #AFB1B8;
 $networks-icon-color: #AFB1B8;
 $bg-color-footer-network: rgba(255, 255, 255, 0.1);
 $bg-color-doing-descr: rgba(47, 48, 58, 0.8);
 $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 $bg-color-item-before: rgba(33, 150, 243, 0.9);
 $bg-color-modal: #00000033;
 $border-color-input-form: rgba(33, 33, 33, 0.2);

 %list {
     padding: 0;
     margin: 0;
     list-style: none;
 }

 %link {
    text-decoration: none;
    cursor: pointer;
 }
