.header__portfolio {
    position: relative;
    align-items: baseline;
    border-bottom: 1px solid $border-header-color;
}

.navigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80px;
        @media screen and (min-width: 1200px) {
                justify-content: flex-start;
            }
}

.menu-btn {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border: none;
    border-color: transparent;
    background-color: $main-bg-color;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-btn .icon-close {
    display: none;
}

.menu-btn.is-open .icon-close {
    display: block;
}

.menu-btn.is-open .icon-menu {
    display: none;
}

.menu-container {
    background: $main-bg-color;

    &.is-open {
        display: block;
        position: fixed;
        top: 48px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
}

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    // @media screen and (min-width: 1200px) {
    //     justify-content: flex-start;
    // }
}

.navigate__list {
    list-style: none;
    padding: 0;
    margin: 0;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        margin-right: auto;
        margin-left: auto;
    }

        @media screen and (min-width: 1200px) {
            justify-content: flex-start;
            margin: 0;
        }

}

.navigate__item {

    &+& {
        margin-left: 50px;
    }
}

.navigate__link {

    @media screen and (min-width: 768px) {
        text-decoration: none;
        cursor: pointer;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        color: $main-text-color;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition: color 250ms $timing-function;
    }

    &:hover,
    &:focus {
        color: $active-link-hover-color;
    }
}

/*Активная вкладка*/
.navigate__link--active {
    @extend %link;
    position: relative;
    color: $active-link-hover-color;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 4px;
        background-color: $active-link-hover-color;
    }
}

/*E-mail и телефон*/
.contacts {
    display: flex;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-direction: column;
        align-items: center;
        padding-top: 21px;
        padding-bottom: 21px;
    }
}

.contacts__item {

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 10px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
        margin-left: 30px;
    }

    &:first-child {
        margin-left: 0;
        margin-top: 0;
    }
}


%contacts-link {
    @extend %link;
    display: flex;
    align-items: center;
    color: $second-text-color;
    font-weight: 500;
    transition: color 250ms $timing-function;
}

.contacts__item--mail {
    @extend %contacts-link;

    &:hover,
    &:focus {
        color: $active-link-hover-color;
    }
}

.contacts__item--tel {
    @extend %contacts-link;

    &:hover,
    &:focus {
        color: $active-link-hover-color;
    }
}

.contacts__item--icon {
    fill: currentColor;
    margin-right: 10px;

    &:hover,
    &:focus {
        fill: $active-link-hover-color;
    }
}