.container {
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 1200px) {
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }
}

section{
    @media screen and (max-width: 1199px) {
        padding-top: 60px;
    }
}

.page-navigate__list {
    @extend %list;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    @media screen and (max-width: 767px){
        flex-wrap: wrap;
        justify-content: start;
    }
}

.page-navigate__item + .page-navigate__item {
    margin-left: 8px;
}

.page-navigate__btn {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: $main-text-color;
    background: $bg-color-section-white;
    cursor: pointer;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;

    border-radius: 4px;
    border-style: none;

    transition: background-color 250ms $timing-function,
        color 250ms $timing-function,
        box-shadow 250ms $timing-function;

    &:hover,
    &:focus {
        color: $main-bg-color;
        background-color: $bg-button-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
            0px 1px 2px rgba(0, 0, 0, 0.08), 
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}