
.order {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid $border-order-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;

    @media screen and (max-width: 767px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/order-bg-mob.jpg);
    }
    
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .order{
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
                url(../images/order-bg-mob@2x.jpg);
        }
    }

    @media screen and (max-width: 1199px){
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
            url(../images/order-bg-tablet.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .order {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
                url(../images/order-bg-tablet@2x.jpg);
        }
    }
    
        
    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
            url(../images/order-bg-desktop.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .order {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
            url(../images/order-bg-desktop@2x.jpg);
        }
    }
}
   

.order__head {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    color: $main-bg-color;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 400px) and (max-width: 1199px) {
        width: 360px;
        font-size: 26px;
        line-height: 1.62;
    }

    @media screen and (min-width: 1200px) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }

}

.order__btn {
    align-items: center;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;

    color: $main-bg-color;
    background-color: $bg-button-color;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms $timing-function;


    &:hover,
    &:focus {
        background-color: $bg-buton-hover-color;
    }
}