
.strengths__header {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.88;
    text-transform: uppercase;
    margin-top: 30px;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.strengths__list {
    @extend %list;
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.strengths__item {
    @media screen and (min-width: 768px) {
            width: calc((100% - 2 * 30px) / 2);
            margin: 15px;
        }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 4 * 30px) / 4);
        margin: 15px;
    }
}

.strengths__title {
    color: $second-text-color;
    line-height: 1.71;
}

.strengths__icon--container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: $bg-color-section-white;

}

.strengths__icon {
    width: 70px;
    height: 70px;
    fill: currentColor;
}