.team {
    background-color: $bg-color-section-white;
}

.container{
    align-items: center;
}

.team__header {
    margin-bottom: 50px;
    text-align: center;
}

.team__list {
    @extend %list;


    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.team__item {
    width: 100%;
    background-color: $main-bg-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 768px){
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 4 * 30px) / 4);
        margin: 15px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.team__img{
    margin-left: auto;
    margin-right: auto;
}

.team__meta {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__meta--name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team__meta--profession {
    margin-top: 10px;
    color: $second-text-color;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/*Соц сети команды*/
.networks__list {
    @extend %list;
    display: flex;
    margin-top: 16px;
    justify-content: center;
}

.networks__item +.networks__item {
    margin-left: 10px;
}

.networks__link {
    @extend %link;
    display: flex;
    width: 44px;
    height: 44px;
    color: $clients-color;
    background-color: $main-bg-color;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: color 250ms $timing-function,
        background-color 250ms $timing-function;

    &:hover,
    &:focus {
        color: $main-bg-color;
        background-color: $active-link-hover-color;
    }
}

.networks__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}